In [2]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

'Connected: None@chinook.db'

In [2]:
%%sql
SELECT
    name,
    type
FROM sqlite_master
WHERE type IN ("table","view");

Done.

[('album', 'table'),
 ('artist', 'table'),
 ('customer', 'table'),
 ('employee', 'table'),
 ('genre', 'table'),
 ('invoice', 'table'),
 ('invoice_line', 'table'),
 ('media_type', 'table'),
 ('playlist', 'table'),
 ('playlist_track', 'table'),
 ('track', 'table')]

## USA | most popular genres
- absolute number of tracks sold to buyers from the USA
- share of buyers from the USA of all purchased tracks

In [25]:
%%sql
WITH 
invoice_line_genre_customer AS (
    SELECT 
        il.invoice_line_id,
        il.track_id,
        g.genre_id, 
        g.name genre_name, 
        c.country customer_country
    FROM invoice_line il
    INNER JOIN track t ON t.track_id = il.track_id
    INNER JOIN genre g ON g.genre_id = t.genre_id
    INNER JOIN invoice i ON i.invoice_id = il.invoice_id
    INNER JOIN customer c ON c.customer_id = i.customer_id
),
genre_tracks_sold AS (
    SELECT 
        ilg.genre_id,
        ilg.genre_name, 
        COUNT(ilg.invoice_line_id) tracks_sold
    FROM invoice_line_genre_customer ilg
    GROUP BY ilg.genre_id, ilg.genre_name
),
genre_tracks_sold_usa AS (
    SELECT ilg.genre_id, ilg.genre_name, COUNT(ilg.invoice_line_id) tracks_sold_usa
    FROM invoice_line_genre_customer ilg
    WHERE ilg.customer_country = 'USA'
    GROUP BY ilg.genre_id, ilg.genre_name
)

SELECT 
    usa.genre_name, 
    usa.tracks_sold_usa,
    ROUND(CAST(usa.tracks_sold_usa AS FLOAT) / (
            SELECT SUM(tracks_sold_usa) 
            FROM genre_tracks_sold_usa
        ), 4) tracks_sold_usa_pct,
    ROUND(CAST(usa.tracks_sold_usa AS FLOAT) * 100 / world.tracks_sold, 1) usa_customers_pct
    
FROM genre_tracks_sold_usa usa
INNER JOIN genre_tracks_sold world ON world.genre_id = usa.genre_id
GROUP BY 1
ORDER BY tracks_sold_usa DESC

Done.

[('Rock', 561, 0.5338, 21.3),
 ('Alternative & Punk', 130, 0.1237, 26.4),
 ('Metal', 124, 0.118, 20.0),
 ('R&B/Soul', 53, 0.0504, 33.3),
 ('Blues', 36, 0.0343, 29.0),
 ('Alternative', 35, 0.0333, 29.9),
 ('Latin', 22, 0.0209, 13.2),
 ('Pop', 22, 0.0209, 34.9),
 ('Hip Hop/Rap', 20, 0.019, 60.6),
 ('Jazz', 14, 0.0133, 11.6),
 ('Easy Listening', 13, 0.0124, 17.6),
 ('Reggae', 6, 0.0057, 17.1),
 ('Electronica/Dance', 5, 0.0048, 9.1),
 ('Classical', 4, 0.0038, 8.5),
 ('Heavy Metal', 3, 0.0029, 37.5),
 ('Soundtrack', 2, 0.0019, 40.0),
 ('TV Shows', 1, 0.001, 50.0)]

### Interpretation

Of the new artist entries *Red Tone* should appeal to many Americans as the genre **Alternative & Punk** is one of the top-selling genres in the USA. The risk of most sales attributing to the *Alternative* in *Alternative & Punk* is mitigated by the fact that *Alternative* also exists as its own genre entry.

More than every second **Hip Hop/Rap** track sold has a buyer from the USA (60.6%). *Hip Hop/Rap* tracks sold in the USA, however, make up only about 2% of all track sales which is only marginally less than *Pop* genre's sales with only 35% American buyers. *Regal* should therefore make an interesting addition to the store tailored to American buyers.

About 60% more **Blues** tracks are sold to American buyers than *Hip Hop/Rap* and *Pop* tracks therefore *Slim Jim Bites* should be included in our store.

**Pop** music neither has high sale numbers nor a high share of American buyers on our store which makes *Meteor and the Girls* the least favorable pick.

**Recommended picks**
1. *Red Tone*
2. *Slim Jim Bites*
3. *Regal*